.background-card{
   background-color: #202024;
   padding: 50px;
   width: 400px;
   border-radius: 8px;
   box-shadow: 4px 4px 3px black;
}

.background-card-cadastro{
  background-color: #202024;
  padding: 50px;
  width: 430px;
  border-radius: 8px;
  box-shadow: 4px 4px 3px black;
}

.button-card{
    
    background-color: #009442;
    border: none;
    transition: all 0.3s linear;
    
    
}
.font-tittle{
    font-size: 42px;
    font-family: 'Inter', sans-serif;
    color:#009442

  }

  .campo-card{
    border: none;
    background-color: #121214;
    border-radius: 5px;
   
    transition: all 0.3s linear;
  }

  a{
    color:#009442;
    text-decoration: none;
    border-bottom: none;
    transition: all 0.2s linear;
  }

  a:hover {
    color: #0ad160;
    text-decoration: none;
  }

  
  .button-card:hover{
    background-color: #0ad160;
    
  }
  .email {
    padding-right: 40px; /* ajuste o padding para evitar que o texto fique sobreposto ao ícone */
  }
  
  .input-group-text {
    font-size: 1.5rem; /* ajuste o tamanho do ícone conforme necessário */
    
  }


  .input-group input:focus {
    text-decoration: none;
    border: none;
    outline: none;
    
  }

  .comborda {
    border: 1px solid #6b6363;
    padding: 10px; /* Adicione um preenchimento para dar espaço à borda */
  }

  .cor-registro{
    color:#009442
  }

  .p-fonte-login{
    font-size: 14px;
   }

