

.nav-bar-padrao{
    background-color: #202024;
}

.barra-busca{
    background-color: #121214;
    border: none;
}

i{
    color: #009442;;
    font-size: 20px;
    padding-left: 5px;
}

i.perfil{
    font-size: 35px;
}
.font-tittle{
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color:#009442

  }


  .dropdown-text{
    font-family: 'Inter', sans-serif;
    color:#009442
  }
  
  a{
    color:#009442;
    text-decoration: none;
    border-bottom: none;
    transition: all 0.2s linear;
  }

  a:hover {
    color: #0ad160;
    text-decoration: none;
  }

  .imagem-carrosel-um{
    object-fit: cover;
   width: 100%;

    height: 400px;
}
.imagem-carrosel-dois{
    object-fit: cover;
    
   
    /* object-position: 0  80%; */
    height: 400px;
}

.next-and-prev{
  width: 2em;
}


.lista-curso{
    width: 100%;
    background-color: #202024;
    border-radius: 3em;
}

.botao-carrosel{
  background-color: #202024;
  border: none;
}